    <footer class="nav-bottom">
      <div class="footer-content">

      	<div class="footer-title">
      		<div class="footer-hed">UNSEEN</div>
      		<div class="footer-deck">WORKING IN THE SHADOW OF THE GOLDEN STATE</div>
      	</div>


      	<div class="footer-about">
      		<h4><a href="./about.html">About</a></h4>
      		<div class="footer-about-text">
           
      		</div>
      	</div>
        
     	</div>

	    <div class="footer-bottom">
	  		<div class="footer-bottom-text">© UNSEEN 2019. All Rights Reserved UC BERKELEY GRADUATE SCHOOL OF 	JOURNALISM</div>
	  	</div>
	  	
  	</footer>

